{% extends "dashboardlayout.html" %}
{% set dashboard_active_page = "financials" %}

{% block dashboard_content %}
<!-- Financial Data -->
<div class="w3-animate-right" style="overflow-x: auto;">
  <div class="btn-group fin-button-div" role="group">
      <button id="balance-btn" type="button" class="btn btn-info">Balance Sheet</button>
      <button id="income-btn" type="button" class="btn btn-outline-info">Income Statement</button>
      <button id="cashflow-btn" type="button" class="btn btn-outline-info">Cashflow Statement</button>
  </div>

  <!-- Balance Sheet Data -->
  <div id='balance-sheet' class="fin-data-div table-responsive w3-animate-opacity">
      <h4 class="fin-header">Balance Sheet</h4>
      <table class="table">
          <thead>
              <tr>
                  <th>Timestamp</th>
                  {% for timestamp, data in fin_data['balance'].items() %}
                      <th class="text-center">{{ timestamp }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for key in (fin_data['balance'].values()|first()).keys() %}
                  <tr>
                      <td>{{ key }}</td>
                      {% for data in fin_data['balance'].values() %}
                          <td class="text-center">{{ data[key] if key in data else 'NAN' }}</td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

  <!-- Income Statement Data -->
  <div id='income-statement' class="fin-data-div w3-animate-opacity">
      <h4 class="fin-header">Income Statement</h4>
      <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                {% for timestamp, data in fin_data['income'].items() %}
                    <th class="text-center">{{ timestamp }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in (fin_data['income'].values()|first()).keys() %}
                <tr>
                    <td>{{ key }}</td>
                    {% for data in fin_data['income'].values() %}
                        <td class="text-center">{{ data[key] if key in data else 'NAN' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <!-- Cashflow Statement Data -->
  <div id='cashflow-statement' class="fin-data-div w3-animate-opacity">
      <h4 class="fin-header">Cashflow Statement</h4>
      <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                {% for timestamp, data in fin_data['cashflow'].items() %}
                    <th class="text-center">{{ timestamp }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in (fin_data['cashflow'].values()|first()).keys() %}
                <tr>
                    <td>{{ key }}</td>
                    {% for data in fin_data['cashflow'].values() %}
                        <td class="text-center">{{ data[key] if key in data else 'NAN' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock dashboard_content %}
