{% extends "dashboardlayout.html" %}
{% set dashboard_active_page = "technicalindicators" %} 

{% block dashboard_content %}
<!-- Downloadable Technical Indicator Data -->
<div class="stock-data w3-animate-right">
  <div class="row mb-4">
      <div class="col-3">
          <div class="form-group row">
              <label for="startDate_techind" class="col-sm-2 col-form-label">From</label>
              <div id="startDateDiv"  class="col-sm-10">
                  <input type="date" class="form-control" id="startDate_techind" placeholder="Start Date" value="-1">
              </div>
          </div>
      </div>
      <div class="col-3">
          <div class="form-group row">
              <label for="endDate_techind" class="col-sm-2 col-form-label">To</label>
              <div id="endDateDiv" class="col-sm-10">
                  <input type="date" class="form-control" id="endDate_techind" placeholder="End Date" value="-1">
              </div>
          </div>
      </div>
      <div class="col-4">
          <button id="setDate" type="button" class="btn btn-success">Set Date</button>
          <button id="resetDate" type="button" class="btn btn-info">Reset Date</button>
      </div>
      <div class="col-2"><a type="button" class="btn btn-primary" href="{{ url_for('get_tech_ind_csv') }}">Download CSV</a></div>
  </div>

  <div id="techind_div" class="row table-responsive table-height">
      <table id='techind_table' class="table text-center">
          <thead>
              <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Close</th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Average True Range (ATR) is a technical analysis indicator that measures market volatility by decomposing the entire range of an asset price for that period.">
                      ATR
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Exponential Moving Average (EMA) is a weighted moving average (WMA) that gives more weighting, or importance, to recent price data than the simple moving average (SMA) does.">
                    EMA5
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="21-day EMA">
                      EMA21
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="63-day EMA">
                      EMA63
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="126-day EMA">
                      EMA126
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="252-day EMA">
                      EMA252
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Relative Strength Index (RSI) is a momentum indicator that measures the magnitude of recent price changes to evaluate overbought or oversold conditions in the price of a stock.">
                      RSI
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Bollinger Band (BB) is a technical analysis tool defined by a set of lines plotted two standard deviations (Upper BB and Lower BB) away from a 20-day simple moving average of the security's price (Middle BB).">
                      Middle BB
                  </th>
                  <th scope="col">
                      Upper BB
                  </th>
                  <th scope="col">
                      Lower BB
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Moving Average Convergence Divergence (MACD) is a trend-following momentum indicator that shows the relationship between two moving averages of a security's price.">
                      MACD
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="Signal Line is the 9-day EMA used with MACD.">
                      Signal Line
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" data-html="true" title="MACD-Histogram represents the difference between MACD and its 9-day EMA, the signal line. The histogram is positive when MACD is above its 9-day EMA and negative when MACD is below its 9-day EMA.">
                      MACD Histogramm
                  </th>
                  <th scope="col" data-toggle="tooltip" data-placement="top" title="Daily Movement is the 10-day EMA of an instrument's daily price range.">
                      Daily Movement
                  </th>
              </tr>
          </thead>
          <tbody>
            {% for key, value in tech_ind_data.items()|reverse %}
                <tr>
                    <td>{{ key|datetimeformat }}</td>
                    <td>{{ value['Close'] }}</td>
                    <td>{{ value['ATR'] }}</td>
                    <td>{{ value['EMA_5'] }}</td>
                    <td>{{ value['EMA_21'] }}</td>
                    <td>{{ value['EMA_63'] }}</td>
                    <td>{{ value['EMA_126'] }}</td>
                    <td>{{ value['EMA_252'] }}</td>
                    <td>{{ value['RSI'] }}</td>
                    <td>{{ value['BB_20MA'] }}</td>
                    <td>{{ value['BB_UpperBands'] }}</td>
                    <td>{{ value['BB_LowerBands'] }}</td>
                    <td>{{ value['MACD'] }}</td>
                    <td>{{ value['Signal_Line'] }}</td>
                    <td>{{ value['MACD_Histogram'] }}</td>
                    <td>{{ value['Daily Movement EMA'] }}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock dashboard_content %}
{% block custom_dashboard_script %}
<script>
    function isValidDate(d) {
        return d instanceof Date && !isNaN(d);
    }

    function clearErrors(){
        document.getElementById("startDate_techind").classList.remove("is-invalid");
        $("#startdate-error").remove();

        document.getElementById("endDate_techind").classList.remove("is-invalid");
        $("#enddate-error").remove();
    }

    $(document).ready(function() {
        $("#setDate").click(function(e){
            clearErrors();

            var start_date = $('#startDate_techind').val();
            var end_date = $('#endDate_techind').val();
            
            if(!isValidDate(new Date(start_date))){
                $('#startDate_techind').addClass("is-invalid");
                $("#startDateDiv").append('<div id="startdate-error" class="invalid-feedback">Invalid start date.</div>');
                return;
            }

            if(!isValidDate(new Date(end_date)) || new Date(start_date) >= new Date(end_date)){
                $('#endDate_techind').addClass("is-invalid");
                $("#endDateDiv").append('<div id="enddate-error" class="invalid-feedback">Invalid end date, end date must be after start date.</div>');
                return;
            }

            $.ajax({
                url: "{{url_for('parse_date_tech_ind')}}",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({'start_date':start_date, 'end_date':end_date}),
                complete:function(data){
                    $("#techind_div").html(data.responseText).fadeOut(10).fadeIn(500);
                }
            });
        });

        $("#resetDate").click(function(e){
            clearErrors();
            $('#startDate_techind').val('');
            $('#endDate_techind').val('');
            
            $.ajax({
                url: "{{url_for('parse_date_tech_ind')}}",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({'start_date':'reset_dates', 'end_date':'reset_dates'}),
                complete:function(data){
                    $("#techind_div").html(data.responseText).fadeOut(1000).fadeIn(1000);
                }
            });
        });

        $(".btn-primary").click(function(e){
            var start_date = $('#startDate_techind').val();
            var end_date = $('#endDate_techind').val();
            var href = "{{ url_for('get_tech_ind_csv') }}?start_date=" + start_date + "&end_date=" + end_date;
            $(this).attr('href', href);
        });
    });
</script>
{% endblock custom_dashboard_script %}